*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration-line: none;
}

.container, .coleccion img{
  width:100%
}

.navbar-collapse{
  justify-content: right;
}

.nav-link{
  color: white
}

.banner{
  background-image: url("img/funkos-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.banner button{
  width: 50%;
  height: 7%;
  border-radius: 50px;
  background-color: white;
  border: none;
}

.text{
  display:flex;
  flex-direction: column;
  align-items: start ;
  justify-content: center;
  margin-left: 10%;
  color:white;
}

.logo img{
  width: 100%;
}

.coleccion{
  justify-content:center;
}

.coleccion-text{
  border-bottom: 2px solid red;
  
}
.coleccion button{
  margin-top: 3%;
  width: 190px;
  height: 40px;
  border-radius: 50px;
  background-color: black;
  color:white;
}

.ultimos-lanzamientos{
  margin-bottom: 5%
}

.new{
  text-align:center;
  background-color: red;
  width:70px;
  color:white;
}

.isotype{
  text-align: right
}

.footer img{
  width:50%
}